<footer id="footer-dark">
    <div class="container footer-site-nav-container">
        <ul class="footer-site-nav">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Career</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
        </ul>
    </div>
    <div class="container footer-nav-divider">

    </div>
    <div class="container footer-social-interact">
        <span class="fa-stack fa-lg">
            <a href="#" style="color: #303030" class="social-icon-link">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
        </span>
        <span class="fa-stack fa-lg">
            <a href="#" style="color: #303030">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
            <a href="#" style="color: #303030">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
        </span>


    </div>

    <div class="container footer-rights-container">
        <span class="pull-left"></span>
        <span class="pull-right rights-text"> &copy; All Rights Reserved: Ask Aloud</span>
    </div>
</footer>