<footer id="footer-dark">
    <div class="container footer-site-nav-container">
        <ul class="footer-site-nav">
            <li>
                <a href="#">Home</a>
            </li>
             <li>
                <a href="#">Lectures</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>
    </div>
   
    <div class="container footer-rights-container">
        <span class="pull-left"></span>
        <span class="pull-right rights-text"> &copy; All Rights Reserved: Ask Aloud</span>
    </div>
</footer>