<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<script type="text/javascript">
	  var ROOM_NAME = "";
	  const LECTURER_NAME = "";
	  const SELF_ID = "";

	  function roomCreationSuccess(roomName){
	  	console.log("successfully joined room, ", roomName);
	  	ROOM_NAME = roomName;
	  	// application specific api fields that can be retrieved by connected clients
	  	easyrtc.setRoomApiField(roomName, "roomOwner", localStorage.getItem("SELF_ID")); 
	  }

	  function roomCreationFailure(errorCode, errorText){
	  	console.log("there was an error joining room");
	  	console.log(errorText);
	  }

	  function loginSuccess(easyrtcId, roomOwner){
	  	// roomOwner should be true since lecturer created this room
	  	// but again: roomName wasnt sent in connection so irrelevant?????
	  	localStorage.setItem("SELF_ID", easyrtcId);

	  	$(".create-room-form").css({display: "none"});
	  	$(".sponsor-content-bg").css({"display":"block"}).animate("slideIn");

	  }

	  function loginFailure(errorCode, errorText){
	  	console.log("error logging in; ", errorText);
	  }

	  function sendRoomOwnerInfoSuccess(msgType, msgBody){
	  	console.log("room owner info message was sent ", msgType, msgBody);
	  }
	  function sendRoomOwnerInfoFailure(errorCode, errorText){
	  	console.log("error sending room owner info ", errorText);
	  }

	  function sendRoomOwnerInfo(roomName, occupants, isPrimary){
	  	console.log("sending room owner info for occupants in: ", roomName);
	  	for(var easyrtcId in occupants){
	  	  easyrtc.sendPeerMessage(easyrtcId, "room_owner", {roomOwner: localStorage.getItem("SELF_ID")}, 
	  	  	sendRoomOwnerInfoSuccess, sendRoomOwnerInfoFailure);	
	  	}
	  }

	  function callRequestListener(easyrtcId, msgType, msgData, targeting){
			console.log("ROOM OWNER event received: ", msgType, msgData, targeting);
			// set gloabal lecturer easyrtcid
			var d = new Date();
			localStorage.setItem("CALLER_"+d.getTime(), easyrtcId);

			// clear and list callers or add one for every event fired
			$('#callers-table tr:last').after('<tr><td>' + easyrtcId + ' </td><td></td><td></td></tr>');
	  }

	  function connect(){
	  	// audio only
		easyrtc.enableVideo(false);
		easyrtc.enableVideoReceive(false);
		easyrtc.enableDebug(true);
		// listen on call requests
		easyrtc.setPeerListener(callRequestListener, "call_request");
		// commented out because we don't care about students in the room for now
		easyrtc.setRoomOccupantListener(sendRoomOwnerInfo);
		easyrtc.initMediaSource(
    		function(){        // success callback
        		easyrtc.connect("easyrtc.AskAloud", loginSuccess, loginFailure);
    		},
   	 		function(errorCode, errmesg){
        		easyrtc.showError(errorCode, errmesg);
    		}	// failure callback
    	);
	  }

	  function connectAndCreateRoom(){
	  	const roomName = document.getElementById("roomname").value;
	  	console.log("roomname " , roomName);
	  	if(roomName === null){
	  		alert("room name cannot be empty");
	  		return;
	  	}
	  	
	  	//TODO: send server request to create room
	  	// check uniqueness of room name in server
	  	connect();

	  	const roomParameters = "creator:" + localStorage.getItem("SELF_ID");
	  	//{"param1": {fieldObject: "WillBeSeenAtJoinRoomEvent", fieldValue: "againAgainAgain"}, "param2": "creator"};
	  	console.log("roomParameters , ", roomParameters);
	  	easyrtc.joinRoom(roomName, roomParameters, roomCreationSuccess, roomCreationFailure);
	  }

	  /*easyrtc.setAcceptChecker(function(easyrtcid, callback) {
	    document.getElementById('acceptCallBox').style.display = "block";
	    if( easyrtc.getConnectionCount() > 0 ) {
	        document.getElementById('acceptCallLabel').textContent = "Drop current call and accept new from " + easyrtcid + " ?";
	    }
	    else {
	        document.getElementById('acceptCallLabel').textContent = "Accept incoming call from " + easyrtcid + " ?";
	    }
	    var acceptTheCall = function(wasAccepted) {
	        document.getElementById('acceptCallBox').style.display = "none";
	        if( wasAccepted && easyrtc.getConnectionCount() > 0 ) {
	            easyrtc.hangupAll();
	        }
	        callback(wasAccepted);
	    };
	    document.getElementById("callAcceptButton").onclick = function() {
	        acceptTheCall(true);
	    };
	    document.getElementById("callRejectButton").onclick =function() {
	        acceptTheCall(false);
	    };
      } */
	</script>

	<header>
		<% include ../partials/header %>
	</header>

	<main style="min-height:600px;padding-top:150px;" class="container">
		<div class="create-room-form">
			<div class="form-group">
    			<label for="exampleInputEmail1">Room Name</label>
    			<input type="text" class="form-control" id="roomname" placeholder="Enter Room Name (one word)">
  			</div>
			<button id="make-call-button" onclick="connectAndCreateRoom()" class="btn btn-primary">Create Room</button>
		</div>

		<div class="sponsor-content-bg">
    	  <div class="container">
        	<div class="content-col-container" id="content-col-container">
              <div class="content-header">
                <h4> Active Requests</h4>
              </div>
              <table class="table table-striped" id="callers-table">
				<thead>
					<tr>
					  <td class="active">Caller Id</td>
					  <td class="success">Caller Name</td>
					  <td class="warning">Action</td>
					</tr>
				</thead>
				<tbody>
					<tr>
					  <td class="active caller-id">..Something.</td>
					  <td class="success caller-name">.Sosmsf..</td>
					  <td class="warning caller-status">Accept or Decline</td>
					</tr>
				</tbody>
				
			</table>
            </div>
          </div>
        </div>

		<div id="requests-container" class="requests-container">
			<ul id="requests">

			</ul>
			
		</div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>