<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<script type="text/javascript">
		console.log("inside scrupt");
		// init self id
		const SELF_EASY_ID = "";

		//TTK: create just one room which can embed many applications
		// in this case, on lecture(created by lecturer)per application
		// ** above is other way round I think **

		// useful functions from doc, i think:
		// appObj.createRoom
		// enableDataChannel, sendPeerMessage, sendServerMessage, sendData, 
		// setApplicationName, sendDataP2P, joinRoom, setPeerListener, 
		// setServerListener, setUsername
		// supportsGetUserMedia, supportsPeerConnections
		// setCookieId, setCredential, setOnCall, setOnHangup
		// setRoomApiField: can be used to set variables, and can be listed on
		// setRoomOccupantListener, setSocketUrl

		// function called when student connects successfully
		function loginSuccess(easyrtcId){
			ŚELF_EASY_ID = easyrtcId;
			var whoAmI = document.getElementById("whoami");
			whoAmI.innerHTML = "I am " + easyrtcId;
			console.log(easyrtcid + " is actually " + easyrtc.idToName(easyrtcid));
		}

		// function called when student's attempt to connect fails
		function loginFailure(errorCode, message){
			easyrtc.showError(errorCode, message);
		}

		function seeOtherDisabledStudents(roomName, occupants, isPrimary){
			var otherStudents = document.getElementById("other-students");
			occupants.forEach(function(occupant, index){
				// TODO: make disabled
				otherStudents.append("<li>" + occupant + "</li>")
			});
		}

		function makeCallRequest(lecturerId){
			// TODO: obtain lecturer íd
		}

		//var makeCallBtn = document.getElementById("make-call-button");
		function connectAndRequest(){
			//e.preventDefault();
			console.log("connect clicked");
			// audio only
			easyrtc.enableVideo(false);
    		easyrtc.enableVideoReceive(false);
    		easyrtc.enableDebug(true);

    		//var applicationFields = easyrtc.getApplicationFields();
    		//var connectionFields = easyrtc.getConnectionFields();
    		//console.log("connection fields: ", connectionFields);
    		//console.log("application fields: ", applicationFields);
    		// commented out because we don't care about other students in the room for now
    		//easyrtc.setRoomOccupantListener(convertListToButtons);
    		easyrtc.initMediaSource(
        		function(){        // success callback
            		easyrtc.connect("easyrtc.audioOnly", loginSuccess, loginFailure);
        		},
       	 		function(errorCode, errmesg){
            		easyrtc.showError(errorCode, errmesg);
        		}	// failure callback
        	);

        	// TODO: make call to lecturer
		};
	</script>
	<header>
		<% include ../partials/header %>
	</header>

	<main style="min-height:600px;padding-top:150px;" class="container">
		<div class="make-call-button">
			<button id="make-call-button" onclick="connectAndRequest()">Contact Lecturer</button>
		</div>
		<div class="" id="whoami">
			
		</div>

		<div id="other-students-container" class="other-students-container">
			<ul id="other-students">

			</ul>
		</div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>